<!DOCTYPE html>
<head>
	<title>VouchSpace</title>
	<meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!--importing API scripts-->
    <script src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/js/jquery.mobile-1.4.5.js"></script>

    <!--please fix later-->
    <link rel="shortcut icon" sizes="196x196" href="" />
    <link rel="apple-touch-icon-precomposed" href="" />

    <!-- jQuery Mobile Dependencies -->
    <link rel="stylesheet" href="../static/css/jquery.mobile-1.4.5.min.css" />

	<!--MDL IMPORTS-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

	<!-- Uncomment when server runs
	<link rel=stylesheet type=text/css href="{{ url_for('static\css', filename='client_style.css') }}">-->
	<!--Comment this out when server runs-->
	<link rel=stylesheet type=text/css href="../static/css/client_style.css">
	<script src="../static/js/client_script.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWqrhj_Fani8INJwGsg1hYX4W0BDzkzWo&callback=initMap"
    async defer></script>
</head>
<body>
    <div data-role = "page" onClick = "window.location.href='#welcome'">
        <img src="../static/css/images/Fizzi_Digi.png">
    </div>

    <div id = "welcome" data-role = "page">
        <label id = "welcomeLabel" data-role = "none">Welcome to<br/>VouchSpace</label>

        <script>
            $(document).ready(function(){document.getElementById("nextButton").removeAttribute("disabled");});
        </script>

        <button id="nextButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" disabled onClick = "window.location.href='#mainApp'" data-role = "none">
            Next
        </button>

    </div>

    <div id="mainApp" class="page" data-role = "page">


        <div id = "activate" data-role = "none">
            <label>Please enter business name:</label>
            <!-- Company name -->
            <form action="getStarted()">
                <div class="mdl-textfield mdl-js-textfield">
                    <input type="text" id="companyNameField" oninput="checkText()">
                </div>
            </form>
            <button id="startButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" disabled onClick = "getStarted()" data-role = "none">
                Get Started
            </button>
        </div>
        <div>
            <h1>VouchSpace</h1>
            <label style = "margin-left: 5vw;">Welcome <span id="companyNameLabel"></span>.</label>


            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--8-col" style = "position: relative;">
                    <button id="cart" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-role = "none" onclick="displayMessage()">
                        <i class="material-icons">shopping_cart</i>
                    </button>
                    <div id="map"></div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    
                    <label>Please select the voucher type:</label>

                    <div>
                    <button id="food" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-role = "none" style ="background-color: rgb(204,102,102);" onclick="setState('food')">
                        <img src="../static/css/images/foodIcon.png" style = "height:50px; width:auto;">
                    </button>
                    <label>Food</label>
                    </div>

                    <div>
                    <button  id="entertainment" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-role = "none" style ="background-color: rgb(37,37,37);" onclick="setState('entertainment')">
                        <img src="../static/css/images/movieIcon.png" style = "height:35px; width:auto;">
                    </button>
                    <label>Entertainment</label>
                    </div>

                    <div>
                    <button id="shopping" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-role = "none" style ="background-color: rgb(244,154,193);" onclick="setState('shopping')">
                        <img src="../static/css/images/handbagIcon.png" style = "height:35px; width:auto;">
                    </button>
                    <label>Shopping</label>
                    </div>

                </div>
            </div>
            <div id="purchaseComplete" class="mdl-js-snackbar mdl-snackbar" data-role = "none">
                <div class="mdl-snackbar__text" data-role = "none"></div>
                <button class="mdl-snackbar__action" type="button" data-role = "none"></button>
            </div>
        </div>
    </div>
</body>
