<!DOCTYPE html>
<head>
	<title>OTCV</title>
	<meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!--importing API scripts-->
    <script src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/js/jquery.mobile-1.4.5.js"></script>

    <!--please fix later-->
    <link rel="shortcut icon" sizes="196x196" href="" />
    <link rel="apple-touch-icon-precomposed" href="" />

    <!-- jQuery Mobile Dependencies -->
    <link rel="stylesheet" href="../static/css/jquery.mobile-1.4.5.min.css" />

	<!--MDL IMPORTS-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

	<!-- Uncomment when server runs
	<link rel=stylesheet type=text/css href="{{ url_for('static\css', filename='mapping_style.css') }}">-->
	<!--Comment this out when server runs-->
	<link rel=stylesheet type=text/css href="../static/css/mapping_style.css">
	<script src="../static/js/mapping_script.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWqrhj_Fani8INJwGsg1hYX4W0BDzkzWo&callback=initMap"
    async defer></script>
</head>
<body>
    <div data-role = "page" onClick = "window.location.href='#welcome'">
        <img src="../static/css/images/Fizzi_Digi.png">
    </div>

    <div id = "welcome" data-role = "page">
        <label id = "welcomeLabel" data-role = "none">Welcome to<br/>Off the Couch Vouch</label>

        <script>
            $(document).ready(function(){document.getElementById("startButton").removeAttribute("disabled");});
        </script>

        <button id="startButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" disabled onClick = "window.location.href='#mainApp'" data-role = "none">
            Get Started
        </button>

    </div>

	<div id="mainApp" class="page" data-role = "page">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                <!-- Title -->
                    <span class="mdl-layout-title">Off the Couch Vouch</span>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Off the Couch Vouch</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">About</a>
                    <a class="mdl-navigation__link" href="">Preferences</a>
                    <a class="mdl-navigation__link" href="">Vouchers</a>
                    <a class="mdl-navigation__link" href="">Settings</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">
                    <div id = "activate" data-role = "none" onClick="startTracking()">
                        <label>Tap to activate location</label>
                        <img src="../static/css/images/location_services.png">
                    </div>
                    <div id="map"></div>
                    
                    <div id="trackNow" class="mdl-js-snackbar mdl-snackbar" data-role = "none">
                        <div class="mdl-snackbar__text" data-role = "none"></div>
                        <button class="mdl-snackbar__action" type="button" data-role = "none"></button>
                    </div>

                </div>
            </main>
        </div>
	</div>
    <div id = "trackPage" data-role = "page">
        <script>
            function selectCSS(){
                if ($(window).height > $(window).width){
                    $('#trackCSS')[0].setAttribute('href','../static/css/mapping_trackT_style.css');
                    console.log("T");
                }else{
                    $('#trackCSS')[0].setAttribute('href','../static/css/mapping_trackW_style.css');
                    console.log("W");
                }
            }
            $(document).ready(function(){
                selectCSS();
                $(window).resize(function(){selectCSS()});
            });
        </script>
        <link id = "trackCSS" rel=stylesheet type=text/css href="../static/css/mapping_trackT_style.css">



        <div id = "accessContainer" data-role = "none">
            <div id = "topAccess" data-role = "none"></div>
            <div style = "white-space:nowrap; overflow: hidden;" data-role = "none">
                <span id = "leftAccess"></span>
                <span id = "userAccess"></span>
                <span id = "rightAccess"></span>
            </div>
            <div id = "bottomAccess" data-role = "none"></div>


        </div>
    </div>

</body>
