/*DEFAULT*/
.page
{
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: sans-serif;
	background: rgb(240,240,240);
}

img
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#welcomeLabel
{
	margin: 30vh 0 0 0;
	line-height: 20vw;
	text-align: center;
	font-size: 16vw;
	font-family: sans-serif;
}

#startButton, #nextButton
{
	position: absolute;
	bottom: 20%;
	height: 10%;
	width: 50%;
	left: 25%;
    right: 25%;
	margin: auto;
}

h1
{
	font: "Helvetica";
	color: rgb(50,50,50);
	font-size: 5vh;
	margin-left: 5vw;
	margin-bottom: 0;
}

#map
{
	height: 60vh;
	z-index: 0;
	width: auto;
}


#activate
{
	background-color: rgb(250,250,250);
	height: 100vh;
	position: fixed;
	z-index: 100;
	width: 100vw;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

#activate > label
{
	color: rgb(50,50,50);
	margin: 20vh 0 0 0;
	line-height: 15vw;
	text-align: center;
	font-size: 10vw;
	font-family: sans-serif;
}

#companyNameField
{
	text-align:center;
}

.mdl-cell--4-col div
{
	margin: 5px;
	display: inline;
}

.mdl-cell--4-col button ~ label
{
	
	position: fixed;
	display: inline;
	height: 0;
	opacity: 0;
}

#cart
{
	background-color: gray;
	position: absolute;
	z-index: 10;
	right: 10px;
	top: 10px;
	z-index: -100;
}

#cart:hover
{
	background-color: rgb(51,204,255);
}

/*FOR LARGER SCREENS*/
@media (min-width: 700px)
{
	#welcomeLabel
	{
		margin: 10vh 0 0 0;
		line-height: 15vw;
		text-align: center;
		font-size: 10vw;
		font-family: sans-serif;
	}
}

@media (min-width: 500px)
{
	#activate > label
	{
		margin: 10vh 0 0 0;
		line-height: 10vw;
		text-align: center;
		font-size: 5vw;
		font-family: sans-serif;

	}

	#activate > img
	{
		width:30vw;
		height:auto;
	}

}

@media (min-width: 840px)
{
	.mdl-cell--4-col div
	{
		display: block;
		margin: 10px;
	}

	.mdl-cell--4-col button ~ label
	{
		position: relative;
		display: inline;
		opacity: 1;
	}
	#map
	{
		height: 80vh;
	}
}