/*DEFAULT*/
.page
{
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: sans-serif;
	background: rgb(240,240,240);
}

img
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#welcomeLabel
{
	margin: 30vh 0 0 0;
	line-height: 20vw;
	text-align: center;
	font-size: 16vw;
	font-family: sans-serif;
}

#startButton
{
	position: absolute;
	bottom: 20%;
	height: 10%;
	width: 50%;
	left: 25%;
    right: 25%;
	margin: auto;
}

h2
{
	font: "Helvetica";
	color: white;
	font-size: 25pt;
}

#map
{
	height: 80%;
}

/*FOR LARGER SCREENS*/
@media (min-width: 700px)
{
#welcomeLabel
	{
		margin: 10vh 0 0 0;
		line-height: 15vw;
		text-align: center;
		font-size: 10vw;
		font-family: sans-serif;
	}
}

