/*FOR TRACKING PAGE*/
/*CUSTOM CSS FOR WHEN HIEGHT IS TALLER*/
#accessContainer
{
	position: absolute;
	margin: 0;
	height: 70vh;
	width: 70vh;
	left: 15vh;
	top: 15vh;
}

#topAccess
{
	top: 0;
	left: 10vh;
	position: absolute;
	width: 50vh;
	height: 10vh;
	background-color: rgb(70,70,70);
}

#bottomAccess
{
	bottom: 0;
	left: 10vh;
	position: absolute;
	width: 50vh;
	height: 10vh;
	background-color: rgb(70,70,70);
}


#leftAccess
{
	left: 0;
	position: absolute;
	top: 10vh;
	width: 10vh;
	height: 50vh;
	background-color: rgb(70,70,70);
}

#rightAccess
{
	right: 0;
	position: absolute;
	top: 10vh;
	width: 10vh;
	height: 50vh;
	background-color: rgb(70,70,70);
}

#userAccess
{
	top: 10vh;
	left: 10vh;
	position: absolute;
	width: 50vh;
	height: 50vh;
	background-color: rgb(200,200,200);
}

h1
{
	position: absolute;
	font: helvetica;
	font-size: 7vh;
	font-weight: lighter;
	color: rgb(70,70,70);
	top: -15vh;
	left: 15vh;
}

#direction
{
	position: absolute;
	top: 70vh;
	left: 10vh;
	font-size: 5vh;
}

#userDirection
{
	height: 40vh;
	width: auto;
}