/*FOR TRACKING PAGE*/
/*CUSTOM CSS FOR WHEN HIEGHT IS TALLER*/
#accessContainer
{
	position: absolute;
	margin: 0;
	height: 70vw;
	width: 70vw;
	left: 15vw;
	top: 15vw;
}

#topAccess
{
	top: 0;
	left: 10vw;
	position: absolute;
	width: 50vw;
	height: 10vw;
}

#bottomAccess
{
	bottom: 0;
	left: 10vw;
	position: absolute;
	width: 50vw;
	height: 10vw;
	background-color: rgb(70,70,70);
}


#leftAccess
{
	left: 0;
	position: absolute;
	top: 10vw;
	width: 10vw;
	height: 50vw;
	background-color: rgb(70,70,70);
}

#rightAccess
{
	right: 0;
	position: absolute;
	top: 10vw;
	width: 10vw;
	height: 50vw;
	background-color: rgb(70,70,70);
}

#userAccess
{
	top: 10vw;
	left: 10vw;
	position: absolute;
	width: 50vw;
	height: 50vw;
	background-color: rgb(200,200,200);
}

h1
{
	position: absolute;
	font: helvetica;
	font-size: 7vw;
	font-weight: lighter;
	color: rgb(70,70,70);
	top: -15vw;
	left: 15vw;
}

#direction
{
	position: absolute;
	top: 70vw;
	left: 20vw;
}

#userDirection
{
	height: 40vw;
	width: auto;
}