/*DEFAULT*/
.page
{
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: sans-serif;
	background: rgb(240,240,240);
}

#companyNameField
{
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}

img
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#welcomeLabel
{
	margin: 30vh 0 0 0;
	line-height: 20vw;
	text-align: center;
	font-size: 16vw;
	font-family: sans-serif;
}

#startButton
{
	position: absolute;
	bottom: 20%;
	height: 10%;
	width: 50%;
	left: 25%;
    right: 25%;
	margin: auto;
}

#activate > label
{
	color: white;
	margin: 20vh 0 0 0;
	line-height: 15vw;
	text-align: center;
	font-size: 10vw;
	font-family: sans-serif;
}

#activate
{
	background-color: rgb(10,10,10);
	height: 100vh;
	position: fixed;
	z-index: 100;
	width: 100vw;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}

#activate > img
{
	width:50vw;
	height:auto;
}

h2
{
	font: "Helvetica";
	color: white;
	font-size: 25pt;
}

#trackPage
{
	background-color: rgb(255,255,255);
}

#map
{
	height: calc(100vh - 56px);
	z-index: 0;
}

#topAccess
{
	background-color: rgb(101,153,255);
}

#userAccess
{
	text-align: center;
}



/*FOR LARGER SCREENS*/
@media (min-width: 700px)
{
	#welcomeLabel
	{
		margin: 10vh 0 0 0;
		line-height: 15vw;
		text-align: center;
		font-size: 10vw;
		font-family: sans-serif;
	}
}

@media (min-width: 500px)
{
	#activate > label
	{
		color: white;
		margin: 10vh 0 0 0;
		line-height: 10vw;
		text-align: center;
		font-size: 5vw;
		font-family: sans-serif;

	}

	#activate > img
	{
		width:30vw;
		height:auto;
	}
}
